body {
  text-align: center;
  margin: 0; }

header {
  background: #333;
  color: #fff;
  margin: 0; }

nav {
  width: 1080px;
  margin: auto;
  background: #555; }

@media (max-device-width:1024px) {
  nav {
    width: 810px; } }
@media (max-device-width:768px) {
  nav {
    width: 100%; } }
