body {
  text-align: center;
  margin: 0; }

header {
  background: #334455 url(../img/denim.png) repeat-x;
  height: 57px;
  overflow: hidden;
  color: #fff;
  margin: 0; }

nav {
  width: 1080px;
  margin: 16px auto;
  background:#000;
}

@media (max-width:1024px) {
  nav {
    width: 810px; } }
@media (max-width:768px) {
  nav {
    width: 100%; } }
